
  <%= form_for @article.comments.new, url: article_comments_path(@article), local: true do |form|%>
      <% if form.object.errors.any? %>
        <div id="error_explanation">
         <h2>
           <%= pluralize(form.object.errors.count, "Erros") %>, Este artigo não pode ser salvo pois existem erros !!!
             <% form.object.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
            <% end %>
          </h2>
        </div>
      <% end %>
      <div class="row">
        <div class="col-12">
          <p>
           <%= form.label :commenter, 'Usuario' %><br>
           <%= form.text_field :commenter %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>
           <%= form.label :body, 'Comentário' %><br>
           <%= form.text_area :body %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
           <%= form.submit "Adicionar Comentario", class:"btn btn-outline-dark" %>
        </div>
      </div>
  <% end %>
