<br><br><br><br>
<div class="container">
 <%= form_for [ @article, @comment ], local: true do |form|%>
    <p>
        <%= form.label :commenter %><br>
        <%= form.text_field :commenter, size: "50x10" %>
    </p>
    <p>
        <%= form.label :body %><br>
        <%= form.text_area :body, size: "50x10" %>
    </p>
    <p>
        <%= form.submit "Editar Comentario", class:"btn btn-outline-dark" %>
    </p>
 <% end %>
</div>